# File: requirements.txt
# Depemdencias necesarias para slrtpr: aplicación streamlit de generración de protocolos clínicos
streamlit>=1.35.0
pandas>=2.2.2
numpy>=1.26.4
pydicom>=2.4.4
textdistance>=4.6.2